html, body {
  height: 100%;
  background-color: gold;
}

.wrapper {
  padding: 20px;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  font-family: 'Helvetica';
  font-size: 80px;
}
